---
import ConnectedPage from "../layouts/ConnectedPage.astro";
---
<ConnectedPage title="It's-a-me Leo">
	<div class="grid col-span-full">
		<h3>Bio</h3>
		<br>
		<div>
			Meet Leo Ascenzi, a 25-year-old software engineer known for his laid-back approach to life and coding. This website bio is brought to you by ChatGPT, as Leo is too lazy to craft one himself. Hailing from [City], Leo specializes in [specific technologies], turning complex problems into elegant solutions. Despite his easygoing nature, Leo thrives on challenges and embraces the ever-evolving tech landscape. Explore Leo's digital domain, where technology meets a touch of laid-back brilliance.
		</div>
	</div>
</ConnectedPage>

