---
import ConnectedPage from "../layouts/ConnectedPage.astro";
---
<ConnectedPage title="About Me">
	<div class="grid col-span-full md:grid-col-2 md:grid-reverse mt-2 md:mt-4">
		<img class="md:max-w-[300px] md:col-start-2 md:order-2 rounded-lg" src="/profile-image.jpg" alt="Profile Image of Leo Ascenzi"></img>
		<div class="md:col-start-1 mt-4 md:mr-4 md:mt-0">
			Driven by my love of learning and exploring, I enjoy pursuing new challenges across all aspects of my life. 
			From programming, to hiking, to cooking, I seek the satisfaction of seeing what I can achieve, and then
			pushing myself to see if I can improve even more. <br/><br/>  
			I'm especially drawn to software engineering, as the puzzle solving apsect and creativity involved excite me 
			and keep me hooked. I also love how powerful of a tool programming is for solving some of my day to day problems.
			Go check out some of <a href="/projects" class="break-keep">my projects</a> for more on that! <br/><br/>
		</div>
	</div>
</ConnectedPage>
