---
import ConnectedPage from "../layouts/ConnectedPage.astro";
---
<ConnectedPage>
	<div class="grid col-span-full">
		<h1>Header 1</h1>
		<h2>Header 2</h2>
		<h3>Header 3</h3>
		<a href="https://leoascenzi.com">Link to home page</a>
		<br>
		<div>
			Meet Leo Ascenzi, a 25-year-old software engineer known for his laid-back approach to life and coding. This website bio is brought to you by ChatGPT, as Leo is too lazy to craft one himself. Hailing from [City], Leo specializes in [specific technologies], turning complex problems into elegant solutions. Despite his easygoing nature, Leo thrives on challenges and embraces the ever-evolving tech landscape. Explore Leo's digital domain, where technology meets a touch of laid-back brilliance.
		</div>
	</div>
</ConnectedPage>

