---
import ConnectedPage from "../layouts/ConnectedPage.astro";
---
<ConnectedPage title="It's-a-me Leo">
	<div class="grid col-span-full md:grid-col-2 md:grid-reverse mt-2 md:mt-4">
		<img class="md:max-w-[300px] md:col-start-2 md:order-2 rounded-lg" src="/profile-image.jpg" alt="Profile Image of Leo Ascenzi"></img>
		<div class="md:col-start-1 mt-4 md:mr-4 md:mt-0">
			Meet Leo Ascenzi, a 27-year-old software engineer known for his laid-back approach to life and coding. This website bio is brought to you by ChatGPT, as Leo is too lazy to craft one himself. Hailing from [City], Leo specializes in [specific technologies], turning complex problems into elegant solutions. Despite his easygoing nature, Leo thrives on challenges and embraces the ever-evolving tech landscape. Explore Leo's digital domain, where technology meets a touch of laid-back brilliance.
		</div>
	</div>
</ConnectedPage>
