---
import  SpeedInsights  from "@vercel/speed-insights/astro"
---
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Leo Ascenzi</title>
	</head>
	<body>
	<SpeedInsights/>
		<h1>Coming Soon: About Me, Projects, Resume, some style</h1>
		<h2>Quick links</h2>
		<h3>Raider Rumble: A Colagte University THREEjs fighting game</h3>
		<a href = "http://colgateleoascenzi.github.io/RaiderRumbleGame">Game</a><br>
		<a href = "https://github.com/ColgateLeoAscenzi/RaiderRumbleGame">Repository</a>
		<h3>Blocky Shoot: A THREEjs and Socket io proof of concept shooter game (WIP)</h3>
		<a href = "http://blocky-shoot.herokuapp.com/">Game</a><br>
		<a href = "https://github.com/ColgateLeoAscenzi/BlockyShoot">Repository</a>
		<h3>Bouncy Block: A THREEjs Doodle Jump inspired platform game (WIP)</h3>
		<a href = "https://colgateleoascenzi.github.io/BouncyBlock/">Game</a><br>
		<a href = "https://github.com/ColgateLeoAscenzi/BouncyBlock">Repository</a>
		<h3>Contact me:</h3>
		<a>lascenzi@colgate.edu</a><br>
		<a>leo.ascenzi@gmail.com</a>
	</body>

</html>

