---
import ConnectedPage from "../layouts/ConnectedPage.astro";
---
<ConnectedPage title="Photos">
    <div class="grid col-span-full">
        Look at some of the things I like to take pictures of!
        <br>
        <div class="grid md:grid-cols-3 md:grid-rows-3">
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
            <div><img src="https://scontent-atl3-2.cdninstagram.com/v/t51.29350-15/412415914_3601299833447626_5310746497691766095_n.heic?stp=dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=wh9B6fOPDvsAX8ISh5b&_nc_ht=scontent-atl3-2.cdninstagram.com&edm=ANQ71j8EAAAA&oh=00_AfCWYqwDHjyEk4Aaru3A_adBeksU-lOzVkrf-DOAla8egQ&oe=65A1243B"></img></div>
        </div>
    </div>
</ConnectedPage>