---
---
<style>
    #banner
    {
        position: absolute;
        left: -50vw;
        height: 30px;
        width: 200vw;
        color: white;
        padding: 5px;
        background-image: repeating-linear-gradient(
            -55deg,
            #000,
            #000 20px,
            #ffb101 20px,
            #ffb101 40px
        );
    }
    #construction
    {
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%) rotate(-20deg);
        font-size: 4rem;
        font-weight: 800;
        background-color: black;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        opacity: 0.8;
        z-index: 10;
        text-align: center;
    }
</style>
<div id="banner" class="top-[0vh] rotate-[-22deg]"></div>
<div id="banner" class="top-[0vh] rotate-[-10deg]"></div>
<div id="banner" class="top-[15vh] rotate-[-20deg]"></div>
<div id="construction">PAGE UNDER CONSTRUCTION</div>
<div id="banner" class="bottom-[15vh] rotate-[-20deg]"></div>
<div id="banner" class="bottom-[0vh] rotate-[-21deg]"></div>
<div id="banner" class="bottom-[0vh] rotate-[-25deg]"></div>