---

---
<div class="grid grid-cols-2 content-center">
    <div>
        <a class="grid min-h-full content-center max-w-50" href="/"><h2 class="hfull mx-6 text-sm md:text-lg" >LEO ASCENZI</h2></a>
    </div>
    <div class="grid w-full justify-end">
        <div class="grid grid-cols-3 max-w-80 align-items-end">
            <a class="grid mx-2 text-center content-center text-black" href="/projects">PROJECTS</a>
            <a class="grid mx-2 text-center content-center text-black" href="/resume">RESUME</a>
            <a class="grid mx-2 text-center content-center text-black" href="/photos">PHOTOS</a>
        </div>
    </div>
</div>