---
const {tagname} = Astro.props;
---

<div class="text-sm 
            text-white 
            bg-violet-400 
            px-2 m-1 
            max-w-fit 
            max-h-5 
            rounded-sm">
    {tagname}
</div>