---
import ProjectHeader from "../../components/projects/ProjectHeader.astro";
import { workProjectsData } from "../../data/projects_pagedata";
import ConnectedPage from "../../layouts/ConnectedPage.astro";

const projectData = workProjectsData["contract-ai"];
---
<ConnectedPage>
    <ProjectHeader title="Contract AI" {...projectData}/>
    <div class="grid col-span-full">
        <img src="/project-resources/contract-ai-cover.png" alt="Contract AI image"></img>
        <br>
        <div class="grid pt-2">
            The Contract-AI project was a website redesign I worked on as a Full Stack Software Engineer at Carimus
            for a client who needed a modern look for their AI contract review software. I collaborated with the design
            team to implement their Figma mockups in Typescript/React, creating components to connect with our
            headless wordpress backend. Everything was programmed responsively to ensure functionality and beauty on
            all different devices. I also designed GraphQL queries to fetch data for elements like the blog cards,
            feature sections and statistic displays.
            <br/>
            <a class="pt-2 col-span-full text-center" href="https://www.contract-ai.com">Visit the Site</a>
        </div>
    </div>
</ConnectedPage>