---
import ConnectedPage from "../../layouts/ConnectedPage.astro";

---
<ConnectedPage title="Projects > Contract AI">
    <div class="grid col-span-full">
        <img src="/project-resources/contract-ai/contract-ai-project-cover.png" alt="Contract AI image"></img>
        <br>
        <div>Worked on stuff built Website</div>
    </div>
</ConnectedPage>