---
import ConnectedPage from "../../layouts/ConnectedPage.astro";
import {personalProjectKeys, personalProjectsData, workProjectKeys, workProjectsData} from "../../data/projects_pagedata";
import ProjectInfoCard from "../../components/projects/ProjectInfoCard.astro";
---
<ConnectedPage title="Projects">
    <div class="grid col-span-full overflow-hidden">
        <h2 class="mt-4 text-xl">Work Projects</h2>
        <div class="grid col-span-full my-3 md:grid-cols-2">
            {workProjectKeys.map((key) => {
                const props = workProjectsData[key];
                return (<ProjectInfoCard {...props}/>)
            })}
        </div>
        <h2 class="text-xl">Personal Projects</h2>
        <div class="grid col-span-full my-3 md:grid-cols-2">
            {personalProjectKeys.map((key) => {
                const props = personalProjectsData[key];
                return (<ProjectInfoCard {...props}/>)
            })}
        </div>
    </div>
</ConnectedPage>