---
import ProjectHeader from "../../components/projects/ProjectHeader.astro";
import { workProjectsData } from "../../data/projects_pagedata";
import ConnectedPage from "../../layouts/ConnectedPage.astro";

const projectData = workProjectsData["joulebug"];
---
<ConnectedPage>
    <ProjectHeader title="Joulebug" {...projectData}/>
    <div class="grid col-span-full">
        <img src="/project-resources/joulebug-cover.png" alt="Joulebug image"></img>
        <br>
        <div>
            <div class="pt-2">
            Joulebug is a sustainability engagement app that helps organizations drive employee engagement around sustainable behaviors
            by having users complete real life actions to earn points and compete with their coworkers. The app is written in React Native
            and during my time on the project I worked on implementing new components, fixing bugs and implementing localizing across the app.
            <div/>
            <div class="pt-2">
            I also heavily updated the admin web dashboard to add a statistics display for organizations to track ongoing challenges and generate
            reports for both business ESG use and employee social use. After the challenges' completed, users were delighted to see how much 
            water or carbon their companies saved as a whole, and whose photo got the most likes.
            <div/>
            <a class="pt-2 col-span-full text-center" href="https://enterprise.joulebug.com/">Visit the Site</a>
        </div>
    </div>
</ConnectedPage>