---
import ConnectedPage from "../../layouts/ConnectedPage.astro";

---
<ConnectedPage title="Projects > Raider Rumble">
    <div class="grid col-span-full">
        <img src="/project-resources/raider-rumble/raider-rumble-project-cover.png" alt="Raider Rumble image"></img>
        <br>
        <div>Worked on stuff built game engine in Javascript and rendered using ThreeJS</div>
    </div>
</ConnectedPage>