---
import ConnectedPage from "../../layouts/ConnectedPage.astro";

---
<ConnectedPage title="Projects > Raytheon">
    <div class="grid col-span-full">
        <img src="https://prd-sc102-cdn.rtx.com/-/media/rtx/news-images/2020/10/13/gtf-engine-making-history-now-and-in-the-future/gtf_worker_engine.png?w=1440&rev=aa3150621b2349a8afe782feb12b269f&hash=6B972002E9387B1C13F782F9CCD9160B" alt="Raytheon image"></img>
        <br>
        <div>Worked on stuff built APIs</div>
    </div>
</ConnectedPage>