---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Leo Ascenzi's Personal Site! Come view his projects, resume, photos and more!"/>
    <meta name="og:description" content="Leo Ascenzi's Personal Site! Come view his projects, resume, photos and more!"/>
    <meta name="og:title" content="Leo Ascenzi"/>
    <meta name="og:type" content="article"/>
    <meta name="og:image" content="/site-meta-cover-image.png"/>
    <meta name="og:url" content="https://leoascenzi.com/"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <meta name="generator" content={Astro.generator} />
    <title>Leo Ascenzi</title>
</head>
<body class="grid justify-items-center bg-slate-50">
    <SpeedInsights/>
    <div class="grid w-full justify-items-center">
        <Header/>
        <div class="my-4">
            <h1 class="py-4">{title}</h1>
            <article class="grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 mx-8 max-w-full md:max-w-[736px] lg:max-w-[800px]">
                <slot/>
            </article>
        </div>
        <Footer/>
    </div>
</body>
</html>

<style is:global>
    a {
        word-break: break-all;
        color: #a78bfa;
    }

    h1 {
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    h3 {
        font-weight: 600;
        font-size: 1rem;
    }
</style>
